@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {  
    /* background-image: linear-gradient(to top, #053337, #085a60, #0b858c, #0eb2bb, #12e2eb); */
    background-color: #b0e6e9;
    height: 100vh;
    width: 100vw;
    font-family: "Mulish", sans-serif;
}

.header {
  height: 100px;
  font-size: 2em;
  text-align: center;
}

.add-book{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-book{
    height: 50px;
    width: 150px;
    font-family: "Mulish", sans-serif;
    border-radius: 10px;
    background-color: #0b858c;
    font-size: 20px;
    border: 2px solid rgb(146, 238, 243);
    cursor: pointer;
}

.new-book:hover{
    background: rgb(119, 198, 202);
}

.form{
    display: flex;
    justify-content: center;
}

#new-book-form{
    margin: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    background-color: #085a60;
    border-radius: 15px;
    border: 2px solid rgb(139, 176, 192);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#new-book-form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin: 10px;
    font-size: 20px;
    color: white;
}

#new-book-form input{
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    width: 250px;
    border: none;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
}

.submit{
    margin-top: 30px;
    height: 40px;
    width: 70px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.submit:hover{
    background-color: #062c2e;
    color: white;
}

.library{
    margin-top: 50px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    height: 30vh;
    width: 200px;
    background-color: rgb(118, 176, 178);
    color: #053337;
    border: 5px solid rgb(146, 238, 243);
    border-radius: 10px;
}

.book-card h2, h3{
    text-align: center;
    width: 100%;
    overflow: scroll;
}

.remove-btn{
    height: 25px;
    width: 70px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: white;
    color: rgb(175, 87, 87);
    cursor: pointer;
}

.remove-btn:hover{
    background-color: rgb(175, 87, 87);
    color: white;
}

.read-btn{
    height: 25px;
    width: 105px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: white;
    color: blue;
    cursor: pointer;
}

.read-btn:hover{
    background: blue;
    color: white;
}